<div class="kt-widget-deposits">
        <div class="card">
            <div class="card-header">
                    <strong>Deposits</strong>
                    <br>
                    <small>Deposits over $4000</small>
                    <span class="float-right"><i class="fa fa-cog"></i></span>
            </div>
            <div class="card-body">
                <div class="media d-inline-flex mr-2">
                    <h2 class="card-title mr-2">5</h2>
                    <div class="media-body">
                        <h4>Matches</h4>
                        <span>Today</span>
                    </div>
                </div>
                <div class="media d-inline-flex">
                    <h2 class="card-title mr-2 text-danger">1</h2>
                    <div class="media-body">
                        <h4 class="text-danger">Alert</h4>
                        <span class="text-danger">Today</span>
                    </div>
                </div>
                <ul class="list-group list-group-horizontal-xl">
                    <li class="list-group-item flex-fill">
                        <div class="media">
                            <h3 class="card-title mr-2">7</h3>
                            <div class="media-body">
                                <h5>Matches</h5>
                                <span>This Week</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item flex-fill">
                        <div class="media">
                            <h3 class="card-title mr-2">12</h3>
                            <div class="media-body">
                                <h5>Matches</h5>
                                <span>This Month</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item flex-fill">
                        <div class="media">
                            <h3 class="card-title mr-2">23</h3>
                            <div class="media-body">
                                <h5>Matches</h5>
                                <span>This Year</span>
                            </div>
                        </div>
                    </li>
                  </ul>
            </div>
            <div class="card-footer text-muted">
                Matches Histort in 2014
                <a href="#" class="float-right">
                    See More
                </a>
            </div>
        </div>
    </div>