<!--begin::Head-->
<!-- <div class="kt-login__head">
	<span class="kt-login__signup-label">Don't have an account yet?</span>&nbsp;&nbsp;
	<a href="javascript:;" routerLink="/auth/register" class="kt-link kt-login__signup-link">{{ 'AUTH.GENERAL.SIGNUP_BUTTON' | translate }}</a>
</div> -->
<!-- <div class="kt-login__head">
	<img src="../../../../../assets/media/logos/moneyvalt-major-logo.png">
</div> -->
<!--end::Head-->

<!--begin::Body-->
<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
	<div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v2 kt-login--signin" id="kt_login">
		<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
			style="background-image: url('../../../images/bg/bg-1.jpg');">
			<div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
				<div class="kt-login__container">
					<div class="kt-login__logo">
						<a href="#">
							<img src="../../../../../assets/media/logos/moneyvalt-major-logo.png">
						</a>
					</div>
					<div class="kt-login__signin">
						<div class="kt-login__head">
							<h3 class="kt-login__title">iPortal Access</h3>
						</div>
						<form class="kt-form" action="" [formGroup]="loginForm">
							<div class="input-group">
								<input class="form-control" formControlName="tenant" type="text"
									placeholder="{{ 'AUTH.INPUT.TENANT' | translate }}" name="password">
							</div>
							<div>
								<span *ngIf="isControlHasError('tenant','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</span>
								<span *ngIf="isControlHasError('tenant','minlength')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</span>
								<span *ngIf="isControlHasError('tenant','maxlength')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</span>
							</div>
							<div class="input-group">
								<input class="form-control" formControlName="username" type="text"
									placeholder="{{ 'AUTH.INPUT.USERNAME' | translate }}" name="password">
							</div>
							<div>
								<span *ngIf="isControlHasError('username','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</span>
								<span *ngIf="isControlHasError('username','minlength')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</span>
								<span *ngIf="isControlHasError('username','maxlength')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</span>
							</div>
							<div class="input-group">
								<input class="form-control" formControlName="password" type="password"
									placeholder="{{ 'AUTH.INPUT.PASSWORD' | translate }}" name="password">
							</div>
							<div>
								<span *ngIf="isControlHasError('password','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</span>
								<span *ngIf="isControlHasError('password','minlength')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</span>
								<span *ngIf="isControlHasError('password','maxlength')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</span>
							</div>

							<div class="kt-login__actions">
								<button id="kt_login_signin_submit" (click)="submit()"
									[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
									class="btn btn-pill kt-login__btn-primary">{{ 'AUTH.LOGIN.BUTTON' | translate }}</button>
							</div>
						</form>
					</div>
					<div class="kt-login__account">
						<span class="kt-login__account-msg">
							Important Security Information: You must only proceed beyond this point if you are
							authorised to access this service. Please note that your use of the service is constantly
							monitored and any unauthorised attempts to access may be subject to legal action.

							<br><br>Copyright © 2018 - 2020 Jefferson & Bennett Group Ltd <br> All rights reserved
						</span>&nbsp;&nbsp;

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end::Body-->