<table class="table">
    <thead>
        <tr>
            <th>
                Channels
            </th>
            <th>
                Trunscation Value in Last Comlited Week
            </th>
            <th>
                Averaged Trunscation Value of Previous Week
            </th>
            <th>
                Value Difference
            </th>
            <th>
                Trunscation Value in Last Comlited Week
            </th>
            <th>
                Averaged Trunscation Value of Previous Week
            </th>
            <th>
                Value Difference
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Online</td>
            <td class="text-danger">8,460M</td>
            <td class="text-danger">19,760M</td>
            <td class="text-danger">-56,99%</td>
            <td class="text-danger">67,181</td>
            <td class="text-danger">131,564</td>
            <td class="text-danger">-48,94%</td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td class="text-success">340M</td>
            <td class="text-success">3050M</td>
            <td class="text-success">11,48%</td>
            <td class="text-success">88,918</td>
            <td class="text-success">74,678</td>
            <td class="text-success">19,07%</td>
        </tr>
    </tbody>
</table>