<div class="kt-widget-new-accounts">
        <div class="card">
            <div class="card-header">
                <strong>Accounts</strong>
                <br>
                <small>New Accounts created</small>
                <span class="float-right"><i class="fa fa-cog"></i></span>
            </div>
            <div class="card-body">
                <div class="media">
                    <h2 class="card-title mr-2 text-success">12</h2>
                    <div class="media-body">
                        <h4>New Accounts</h4>
                        <span class="text-success">Today</span>
                    </div>
                </div>
                <ul class="list-group list-group-horizontal-xl">
                    <li class="list-group-item flex-fill">
                        <div class="media">
                            <h3 class="card-title mr-2">30</h3>
                            <div class="media-body">
                                <h5>Matches</h5>
                                <span>This Week</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item flex-fill">
                        <div class="media">
                            <h3 class="card-title mr-2">86</h3>
                            <div class="media-body">
                                <h5>Matches</h5>
                                <span>This Month</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item flex-fill">
                        <div class="media">
                            <h3 class="card-title mr-2">114</h3>
                            <div class="media-body">
                                <h5>Matches</h5>
                                <span>This Year</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer text-muted">
                Matches Histort in 2014
                <a href="#" class="float-right">
                    See More
                </a>
            </div>
        </div>
    </div>